.logout { background-image: url(../data/images/buttons_logout.gif) !important; }

.erase { background-image: url(../data/images/buttons_erase.gif) !important; }

.rotate { background-image: url(../data/images/buttons_rotate.gif) !important; }

.awaybutton { background-image: url(../data/images/buttons_away.gif) !important; }

.refresh { background-image: url(../data/images/buttons_refresh.gif) !important; }

.dices-win { background-image: url(../data/images/buttons_dices.gif) !important; }

.echo-win { background-image: url(../data/images/buttons_echo.gif) !important; }

.charlist-win { background-image: url(../data/images/buttons_charlist.gif) !important; }

.whowhere-win { background-image: url(../data/images/buttons_ww.gif) !important; }

.charinfo-win { background-image: url(../data/images/buttons_info.gif) !important; }

.npcinfo-win { background-image: url(../data/images/buttons_info.gif) !important; }

.dm-win { background-image: url(../data/images/buttons_dm.gif) !important; }

.map-win { background-image: url(../data/images/buttons_map.gif) !important; }

.market-win { background-image: url(../data/images/buttons_shop.gif) !important; }

.copper { background-image: url(../data/images/copper.png) !important; }
.silver { background-image: url(../data/images/silver.png) !important; }
.gold { background-image: url(../data/images/gold.png) !important; }
.platinum { background-image: url(../data/images/platinum.png) !important; }

.showpower-win { background-image: url(../data/images/buttons_info.gif) !important; }
.showspell-win { background-image: url(../data/images/buttons_info.gif) !important; }
.showfeat-win { background-image: url(../data/images/buttons_info.gif) !important; }
.showhelp-win { background-image: url(../data/images/buttons_info.gif) !important; }
.showback-win { background-image: url(../data/images/buttons_info.gif) !important; }

.switchloc { background-image: url(../data/images/buttons_switchloc.gif) !important; }

.wtpbutton { background-image: url(../data/images/buttons_wtp.gif) !important; }
.lvlup-win { background-image: url(../data/images/buttons_wtp.gif) !important; }

.forumbutton { background-image: url(../data/images/buttons_forum.gif) !important; }

.loctype1 { background-image: url(../data/images/buttons_street.gif) !important; }