a {
	cursor: pointer;
	text-decoration: underline;
}

.chartable {
	border-spacing: 5px 5px;
	width: 100%;
	font: 12px arial,tahoma,verdana,sans-serif;
	color: #416DA3;
}

.chartable-attr {
	border-spacing: 5px 5px;
	width: 100%;
	font: 12px arial,tahoma,verdana,sans-serif;
	/*border: 1px solid black;*/
	color: #416DA3;
}

.centr {
	text-align: center;
}

.top-align {
	vertical-align: top;
}

.main-tables {
	border-spacing: 5px 0px;
	width: 100%;
}

.stat-size {
	width: 90px;
	height: 90px;
}

.stat-cell-size {
	width: 100px;
}

.panel-filling {
	background-color: #DFE9F6 !important;
}

.item-filling {
	background-color: #DFE9F6 !important;
	cursor: pointer;
}

.item-filling-inv {
	background-color: #dfe9f6 !important;
	height: 56px !important;
	left: 0 !important;
	padding: 1px 3px !important;
	text-align: center !important;
	top: 0 !important;
	width: 58px !important;
	cursor: pointer;
}

.main-frames {
	background-color: black !important;
	color: #ADB801 !important;
	font: 12px verdana,tahoma,arial,sans-serif !important;
}

.switchloc-form {
	padding: 15px !important;
	background-color: #DFE8F6 !important;
	font: 12px verdana,tahoma,arial,sans-serif !important;
}

.power-descr {
	font: 12px arial,tahoma,verdana,sans-serif !important;
	color: #416DA3 !important;
	background-color: #dfe9f6 !important;
	padding: 3px !important;
}

.custom-color-palette {
	width: 432px !important;
}

.panel-text {
	font: 12px arial,tahoma,verdana,sans-serif !important;
	color: #416DA3 !important;
	text-align: justify;
}

.itemdescr-panel {
	font: 12px arial,tahoma,verdana,sans-serif !important;
	color: #416DA3 !important;
	text-align: justify;
	background-color: #DFE8F6 !important;
	padding: 5px;
}

.eastpanel-text {
	font: 12px arial,tahoma,verdana,sans-serif !important;
	background-color: #DFE8F6 !important;
	text-align: justify;
	padding: 3px;
}